*{
   box-sizing: border-box;
}
body{
   margin: 0;
}
.row:after{
   display: flex;
   height: 70px;
   clear:both 
}
.column-100{
   width: 100%;
   float: center;
   font-size: medium;
}
.h1{
   text-align: justify;
   font-size: xx-large;
   color: green;
}
.h2{
   text-align: left;
   font-size: x-small;
}
/* .column-2{
   width:100%;
   float: center;
   font-size: xx-large;
   font-family: 'Montserrat', sans-serif;
   color: rgb(0, 118, 8);
}
.column-3{
   width: 50%;
   float: left;
   font-size: medium;
   font-family: 'Montserrat', sans-serif;
}
.column-4{
   width: 50%;
   float: left;
   font-size: xx-large;
   color: rgba(169, 169, 169, 0.748);
   font-family: 'Montserrat', sans-serif;
}
.column-5{
   width: 50%;
   float: left;
   font-size: small ;
   font-family: 'Montserrat', sans-serif;
}
.column-6{
   width: 50%;
   float: right;
}
.img-rounded{
   border-radius: 2.9%;
}
.column-7{
   width: 50%;
   float: right;
   font-size: medium ;
   font-family: 'Montserrat', sans-serif;
}
.column-8{
   width: 50%;
   float: right;
   font-size: x-large ;
   color: rgba(128, 128, 128, 0.732);
   font-family: 'Montserrat', sans-serif;
   
}
.column-9{
   width: 50%;
   float: right;
   font-size: small ;
   font-family: 'Montserrat', sans-serif;
}
.column-10{
   width: 50%;
   float: left;
}
.column-11{
   width: 50%;
   float: left;
   font-size: small ;
   font-family: 'Montserrat', sans-serif;
}
.column-12{
   width: 50%;
   float: left;
   font-size: x-large ;
   color: rgba(128, 128, 128, 0.704);
   font-family: 'Montserrat', sans-serif;
}
.column-13{
   width: 50%;
   float: left;
   font-size: small ;
   font-family: 'Montserrat', sans-serif;
}
.column-14{
   width: 50%;
   float: right;
} */