*{
   box-sizing: border-box;
}
body{
   margin: 0;
}
.row:after{
   display: flex;
   height: 70px;
   clear:both 
}
.column-1{
   font-size: medium;
}
.column-10{
   width:1000%;
   float:left;
   color: rgb(0, 206, 14);
}