*{
   box-sizing: border-box;
}
body{
   margin: 0;
}
.row:after{
   display: flex;
   height: 70px;
   clear:both 
}
.column-100{
   width: 100%;
   float: center;
}
h1{
   width: 50%;
}
h2{
   width: 50%;
}
  .column-50{
   width: 50%;
   float: left; 
   display: flex;
}
#titulo3{
   float: left;
}
 .column-502{
   width: 50%;
   float: right; 
   display: flex;
}
#titulo{
   width: 50%;
}
 .column-img{
   float: left;
} 
 /* .column-img2{
   float: left;
}
.column-503{
   width: 50%;
   float: left; 
   display: flex;
}
#titulo2{
   width: 50%
}
.column-img3{
   width: 50%;
   float: right;
}
.img-rounded{
   border-radius: 2.9%;
}     */
